<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body>
    <p th:text="'AddressBook id: ' + ${book.id}"></p>
    <div th:if="${not #lists.isEmpty(book.buddies)}">
    <p>AddressBook Contents:</p>
        <p th:text="${book.buddies.size()}"></p>
    <table>
        <tr th:each="buddy : ${book.buddies}">
            <td th:text="${buddy.name}"></td>
            <td th:text="${buddy.phoneNumber}"></td>
        </tr>
    </table>
    </div>
    </body>
</html>